*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    color:white;
    min-height:100vh;
    background:linear-gradient(
    -45deg,
    #0f172a,
    #1e293b,
    #2563eb,
    #06b6d4);
    background-size:400% 400%;
    animation:bgMove 15s ease infinite;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

/* Container */

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

/* Navbar */

.navbar{
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;

    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);

    box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

.nav-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

.logo{
    color:white;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:20px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

/* Hero */

.hero-section{
    padding-top:120px;
    padding-bottom:50px;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
}

.hero-content{
    max-width:600px;
}

.hero-content h1{
    font-size:3rem;
}

.hero-content h2{
    margin:10px 0;
}

.hero-content p{
    margin:20px 0;
}

/* Profile */

.profile-img{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid white;
    box-shadow:0 0 30px rgba(255,255,255,0.5);
    transition:.5s;
}

.profile-img:hover{
    transform:rotateY(15deg) scale(1.05);
}

/* Button */

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#16a34a;
    color:white;
    text-decoration:none;
    border-radius:8px;
    transition:.3s;
}

.btn:hover{
    background:#15803d;
}

/* Sections */

.section{
    padding:40px 0;
}

/* Cards */

.card3d{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);
    padding:30px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,0.3);
    transition:.5s;
}

.card3d:hover{
    transform:rotateX(5deg) rotateY(5deg) scale(1.02);
}

.card3d ul{
    list-style:none;
}

.card3d li{
    margin:10px 0;
}

/* Social Buttons */

.social-btn{
    display:inline-block;
    margin-left:10px;
    padding:8px 15px;
    border-radius:8px;
    text-decoration:none;
    color:white;
}

.linkedin{
    background:#0A66C2;
}

.github{
    background:#24292e;
}

/* Footer */

footer{
    text-align:center;
    padding:20px;
    margin-top:40px;

    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
}